<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<link rel="shortcut icon" href="/static/media/favicons/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}"/>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/signin.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/my.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/ie10-viewport-bug-workaround.css}"/>
<script>
// function myF2(){
//   var data = new FormData();
//   data.append('username', document.getElementById('inputEmail').value);
//   data.append('password', document.getElementById('inputPassword').value);

//   var xhr = new XMLHttpRequest();
//   xhr.withCredentials = true;

//   xhr.addEventListener("readystatechange", function () {
//     if (this.readyState === 4) {
//       // debugger;
//       // console.log(this.responseText);
//       // document.body.innerHTML = this.responseText;

//   //     document.write(this.response);
//   //     document.title = 'User logged in';
//   //     window.history.pushState(
//   //       {
//   //         'html': this.response,
//   //         'pageTitle': 'User logged in',
//   //       }, '', this.responseURL
//   //       );

//   //     // window.location.href = 'http://'+location.host+'/success';
//   //     // debugger;
//   //     // window.location.assign(this.responseText);
//   //   }
//   });

//   // xhr.open("GET", "http://localhost:8181/success");
//   // // get token from local storage
//   // var token = localStorage.getItem('jwt-token');
//   // console.log('got token from localstorage:', token);
//   // // debugger;
//   // xhr.setRequestHeader("authorization", token);
//   // xhr.setRequestHeader("cache-control", "no-cache");
//   // xhr.setRequestHeader("postman-token", "d11201f7-a37d-8b06-22da-1f611e1795f4");

//   // xhr.send(data);
// }

// }

function myFunction() {
  // debugger;
  // xhr.send(bodyData);
  var data = new FormData();
  data.append('username', document.getElementById('inputEmail').value);
  data.append('password', document.getElementById('inputPassword').value);

  var xhr = new XMLHttpRequest();
  xhr.withCredentials = true;

  xhr.addEventListener('readystatechange', function () {

    if (this.readyState === 4) {
      // console.log(this.responseText);
      var token = this.getResponseHeader('Authorization');
      console.log('Got token:', token);
      console.log('Preparing to save in local storage and redirect to success.html');
      localStorage.setItem('jwt-token', this.getResponseHeader('Authorization'));
      // redirect
      if (token) {
        //window.location.href = 'http://'+location.host+'/success';
        //myF2();
      } else {
        alert('Please give right credentials');
      }
      // window.location.assign('http://'+location.host+'/success.html');
    }
  });

  xhr.open('POST', 'http://' + location.host + '/login');
  xhr.setRequestHeader('cache-control', 'no-cache');
  xhr.setRequestHeader('postman-token', '11d70bf5-c26e-2aff-479e-a789d6a0f70d');

  xhr.send(data);
}
</script>
</head>
<body>
   <div class="container">
        <form class="form-signin" name="form" th:action="@{/login}" action="/login" method="POST">
          <h3 class="form-signin-heading">Please sign in</h3>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Email address">
          </input>
          <label for="inputPassword" class="sr-only">Password</label>
          <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password"></input>
          <div class="signInButton">
            <button class="btn btn-default" type="submit" onclick="myFunction()">Sign in</button>
          </div>
        </form>
      </div> <!-- /container --> <!--  onclick="myFunction()"   -->
    <!-- <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Email address"></input>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password"></input>
    <button onclick="myFunction()">Click me</button>
    <div id="demo"> </div> -->
</body>
</html>